<!DOCTYPE html>
<html>

  <link rel="stylesheet" href="/static/main.css">

    <h1> reseptit! </h1>

    {% for message in get_flashed_messages() %}
    <i><h3>{{ message }}</h3></i>
    {% endfor %}

    <nav>
        <ul>
            <li><a href="/register">Luo tunnus</a></li>

            {% if session.user_id %}
            <li><a href="/logout">Kirjaudu ulos</a></li> 
            {% else %}

            <li><a href="/login">Kirjaudu sisään</a></li>

            {% endif %}

            <li><a href="/mole">myyrä</a></li>

        </ul>
    </nav>

    <body> 
        <p> sivua on ladattu {{visits}} kertaa. viimeiksi ladattu {{date}}. <br> </p>

        {% if session.user_id %} 

        <a href="/new">uusi resepti</a> <br>  <!-- pitäis vaatia tiili --> 

        {% else %}

        <p> sinun on <a href="login">kirjauduttava sisään</a>, jotta voit lisätä reseptejä.  </p>

        {% endif %}

        {% for recipe in recipes %}
        {% if recipe.status == 1 %}
        <p>
            <a href="/recipe/{{recipe.id}}">{{recipe.title}}</a> <br />
            postattu {{recipe.date}} <br />
        </p>
        <hr />
        {% endif %}
        {% endfor %}
    </body>

</html>