<!DOCTYPE html>
<html>

    <link rel="stylesheet" href="/static/main.css">

    {% if recipe.status == 1 %}

    <head>
        <title>{{ recipe.title }}</title>
    </head>

    <body>
    <h1>{{ recipe.title }}</h1>

    {{recipe.ingredients}} <br>
    {{recipe.instructions}} <br>
    </body>

    {% if session.user_id %}
    <a href="/edit/{{recipe.id}}">muokkaa</a>
    <a href="/delete/{{recipe.id}}">poista</a>
    {% endif %}

    {% else %}

    reseptia ei löyty

    {% endif %}

</html>